<div id="services-section" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Our Services</h2>
      <hr>
      <div class="clearfix"></div>
      <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus. Eleifend pellentesque natoque faucibus magna ut etiam.</p>
    </div>
    <div class="space"></div>
    <div class="row">
     <div class="col-md-3 col-sm-6 service" ng-repeat="service in services" >
        <i class="{{service.image}}"></i>
        <h4>{{service.name}}</h4>
        <p>{{service.discription}}</p>
      </div>
      </div>
  </div>
</div>